registry=https://pkgs.dev.azure.com/keerthanakt94/Main/_packaging/SecurityTesting/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/keerthanakt94/Main/_packaging/SecurityTesting/npm/registry/:username=keerthanakt94
//pkgs.dev.azure.com/keerthanakt94/Main/_packaging/SecurityTesting/npm/registry/:_password=bnRuMmJmYW42cmg1aW9saTZ5bXB2c2Zkd2RqN2J4Z2F2NzVxZng0bGUzcTVvNnR0NTJiYQ==
//pkgs.dev.azure.com/keerthanakt94/Main/_packaging/SecurityTesting/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/keerthanakt94/Main/_packaging/SecurityTesting/npm/:username=keerthanakt94
//pkgs.dev.azure.com/keerthanakt94/Main/_packaging/SecurityTesting/npm/:_password=bnRuMmJmYW42cmg1aW9saTZ5bXB2c2Zkd2RqN2J4Z2F2NzVxZng0bGUzcTVvNnR0NTJiYQ==
//pkgs.dev.azure.com/keerthanakt94/Main/_packaging/SecurityTesting/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
