registry=https://pkgs.dev.azure.com/keerthanakt94/Main/_packaging/SecurityTesting/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/keerthanakt94/Main/_packaging/SecurityTesting/npm/registry/:username=keerthanakt94
//pkgs.dev.azure.com/keerthanakt94/Main/_packaging/SecurityTesting/npm/registry/:_password=xksumat3dock6wwhtw4ikrlw7byxreptcosokm6zkqed2lehsyda
//pkgs.dev.azure.com/keerthanakt94/Main/_packaging/SecurityTesting/npm/registry/:email=keerthanakt.94@gmail.com
//pkgs.dev.azure.com/keerthanakt94/Main/_packaging/SecurityTesting/npm/:username=keerthanakt94
//pkgs.dev.azure.com/keerthanakt94/Main/_packaging/SecurityTesting/npm/:_password=xksumat3dock6wwhtw4ikrlw7byxreptcosokm6zkqed2lehsyda
//pkgs.dev.azure.com/keerthanakt94/Main/_packaging/SecurityTesting/npm/:email=keerthanakt.94@gmail.com
; end auth token
