registry=https://pkgs.dev.azure.com/keerthanakt94/Main/_packaging/SecurityTesting/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/snyk-demo123e/Main/_packaging/SecurityTesting/npm/registry/:username=ajitddarade
//pkgs.dev.azure.com/snyk-demo123/Main/_packaging/SecurityTesting/npm/registry/:_password=betfqjfzf5vk6sstksu3q745v4kep4txktm6frx2eaavfwefteva
//pkgs.dev.azure.com/snyk-demo123/Main/_packaging/SecurityTesting/npm/registry/:email=ajit.d.darade@gmail.com
//pkgs.dev.azure.com/snyk-demo123/Main/_packaging/SecurityTesting/npm/:username=ajitddarade
//pkgs.dev.azure.com/snyk-demo123/Main/_packaging/SecurityTesting/npm/:_password=betfqjfzf5vk6sstksu3q745v4kep4txktm6frx2eaavfwefteva
//pkgs.dev.azure.com/snyk-demo123/Main/_packaging/SecurityTesting/npm/:email=ajit.d.darade@gmail.com
; end auth token
